<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03_计算属性和监视</title>
</head>
<body>
    <!--模版-->
    <div id="demo">
        姓: <input type="text" placeholder="First Name" v-model="firstName"><br />
        名: <input type="text" placeholder="Last Name" v-model="lastName"><br />
        姓名1(单向) : <input type="text" placeholder="Full Name1" v-model="fullName1"><br />
        姓名2(单向): <input type="text" placeholder="Full Name2" v-model="fullName2"><br />
        姓名3(双向): <input type="text" placeholder="Full Name3" v-model="fullName3"><br />


        <p>{{fullName1}}</p>
        <p>{{fullName1}}</p>
    </div>

    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
        const vm = new Vue({
            el : '#demo',
            data : {
                firstName : 'A',
                lastName : 'B',
                fullName2 : 'A-B' 
            },

            //计算属性配置：值为对象
            computed : {
                fullName1(){ //属性的get()
                    console.log('fullName1()',this)
                    return this.firstName + '-' + this.lastName
                },

                fullName3:{
                    //getter当获取当前属性值时自动调用，将返回值(根据相关的其他属性数据)作为属性值
                    get(){
                        console.log('fullName3 get()')
                        return this.firstName + '-' + this.lastName
                    },
                    //setter当属性值发生了改变时自动调用，监视当前属性值变化，同步更新相关的其他属性值
                    set(value){ //fullName3的最新value值为 A-B28
                        console.log('fullName3 set()',value)
                        //  更新firstName 和 lastName
                        const name = value.split('-')
                        this.firstName = name[0]
                        this.lastName = name[name.length -1 ]
                    }
                }
            },
            
            //侦听属性
            watch:{
                //配置监视firstName
                firstName: function(value) {    //相当于属性的setter
                    console.log('watch firstName',value)    
                    //更新fullName2
                    this.fullName2 = value + '-' + this.lastName
                }
            }
        })

        //使用命令式的 vm.$watch API监视lastName
        vm.$watch('lastName',function(value){
            console.log('vm.$watch lastName',value)
            //更新fullName2
            this.fullName2 = this.firstName + '-' + value
        })

    </script>
</body>
</html>